#listaMenu{
	margin-top: 0;
}
.logoUEB{
	margin-left: 35px;
	padding-top: 2px;
	float: left;
	width: 105px;
	height: 30px;
}
#avatarLateral{
	background: rgba(255, 255, 255, 0.68);
	height:150px;
	border-radius: 10px;
	padding-top: 12px;
	margin-bottom:-14px;
	text-align: center;
}
.panelGrid {
	background-color: rgba(255, 255, 255, 0.45);
	padding: 5px;
}
.itemGrid {
	text-align: center;
	text-shadow: none;
	margin-top: 5px;
	padding-left: 3px;
	padding-right: 3px;
	font-weight: bold;
}
.ui-page{
	background-color: #0d7984 !important;
}
hr {
	border: 0;
	color: #fff;
	background-color: #fff;
	height: 2px;
}
h6 {
	font-size: 2vmin;
	text-shadow: none;
}
.public-destacado {
	display: inline-block;
	border-radius: 8px;
	background-color: #FFFFFF;
	width: 300px;
	height: 147px;
	margin-left: 1%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 5px;
}
.public-encabezado {
	float: left;
	border-radius: 8px 8px 0px 0px;
	background-color: #FFAA00;
	padding-left: 15px;
	width: 285px;
	height: 35px;
}
.public-titulo {
	float: left;
	text-align:left;
	text-shadow: none;
	margin-top: 10px;
	color: #FFF;
	width: 150px;
	height: 20px;
}
.public-iconos {	
	float: left;
	margin-top: 4px;
	margin-left: 63px;
	width: 60px;
	height: 27px;
}
.public-resumen {
	text-align: left;
	float: left;
	margin-top: 12px;
	margin-left: 15px;
	width: 180px;
	height: 75px;
	font-size: 14px;
	overflow: hidden;
}
.public-imagen {
	float: right;
	margin-top: 12px;
	margin-right: 5%;
	width: 60px;
	height: 60px;
	border-style: solid;
	border-color: green;
	border-width: 1px;
}
.public-comite {
	font-size: 10px;
	text-align: right;
	text-shadow: none;
	float: right;
	color: #FFAA00;
	padding-right: 5%;
	margin-top: 1px;
	height: 20px;
	width: 240px;
	font-style: italic;
}
p#nuevo{
	font-size: 1.5em;
		border-bottom: 1px solid #9C9E9E;
		margin-bottom: 20px;
}

p#nuevo-continuacion{
	font-size: 1.5em;
		border-bottom: 3px solid #9C9E9E;
		margin-bottom: 20px;
		margin-top: 47px;
}

p#formulario{
	font-size: 1em;
	padding: 6px;
	width: 70%;
	margin-left: 15%;
	border-bottom: 1px solid #E6E5E5;
	border-top: 1px solid #E6E5E5;
	margin-bottom: 10px;
	text-align: left;
}

.miBoton{
	width: 10%;
}
#pie{
	padding-bottom: 10px;
	height: 10px;
	text-align: center;	
	font-size: 12px;
	font-weight: lighter;
}

.ui-panel-inner {
	padding: 0;
}

.ui-dialog
{
    background-color: rgba(34,34,34,0.25) !important;
}

.ui-dialog.ui-overlay-a 
{
    background-image: none;
}.pie{
	height: 100%;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 7px; 
	font-weight: lighter;
	font-size: 11px;
}

.tablist-left {
    width: 35%;
    display: inline-block;
}
.tablist-content {
    width: 60%;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
}

.text {
	font-size: 0.6em !important;
}
.title-menu {
	font-weight:bold;
	margin-top: 0 !important;
}